.jumbotron {
	background-image: url(img/buku.jpg);
	background-size: cover;
	height: 768px;
	text-align: center;
}

.jumbotron .container {
	margin-top: 50px;
}

.jumbotron .display-4 {
	color: white;
	font-weight: 10px;
	margin-top: 100px;
	font-size: 80px;
}

.jumbotron .btn{
	margin-top: 100px;
}

.jumbotron hr {
	width: 70px;
	border-width: 3px;
	border-color: white;
}

.jumbotron p{
	color: white;
}

.carousel-item {
	height: 670px;
}

.carousel-item .display-4 {
	color: white;
	font-weight: 10px;
	margin-top: -450px;
	font-size: 80px;
}

.carousel-item .btn{
	margin-top: 100px;
}

.carousel-item hr {
	width: 70px;
	border-width: 3px;
	border-color: white;
}
.content {
	margin-top: 50px;
}

.sub-content {
	margin-top: 50px;
	font-size: 40px;
}

.my-4 {
	width: 100%;
	border-width: 3px;
	border-color: #00BFFF;
	text-align: left;
}